* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  --gray-one: #818181;
  --gray-two: #494949;
}

*,
::before,
::after {
  box-sizing: inherit;
}

@font-face {
  font-family: custom-font;
  src: url('../assets/fonts/OPTIFormula-One.otf');
}

body, 
button, 
input {
    font-family: custom-font, sans-serif;
}

header, 
button, 
input {
    font-size: 1.3rem;
}

header {
    background-color: var(--gray-one);
    color: white;
    min-width: 1180px;
}

li {
    list-style: none;
}

input {
    padding: 1rem 0.1rem 1rem 3rem;
    width: 100%;
    border-radius: 0.7rem;
    border: none;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

form {
    position: relative;
    width: 22%;
}

.nav-bar {
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
}

.nav-bar img {
    margin-top: 1rem;
    min-width: 15rem;
}

.nav-bar ul {
    align-items: center;
}

.nav-bar ul * + *{
    margin-left: 1.5rem;
}

.nav-bar button {
    font-weight: bold;
    border-radius: 0.4rem;
    border: none;
    padding: 0.5rem 1.5rem;
    color: white;
    background-color: var(--gray-two) ;
}

.flex-box {
    display: flex;
    flex-direction: row;
}

.search {
    font-size: 2rem;
    position: absolute;
    top: 0.8rem;
    left: 0.6rem;
}